* {
    margin: 0;
    padding: 0;
}

body{
    width:98vw;
    background-image: url("devyang8.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    margin: 15px 300px;
    float: right;
}

li {
    display: inline-block;
}

a {
    font-size: 20px;
    text-decoration: dotted;
    color: rgb(8, 0, 246);
    margin: 10px;
    padding: 5px 6px;
    transition: all 1s ease-in-out;
}

a:hover {
    text-decoration: underline;
    font-size: 15px;
}
.states{
    margin-top: 70px;
    display:grid;
    width:98vw;
    grid-gap: 30px 30px;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    /* grid-template-rows: 22vh 22vh 22vh 22vh; */
}
.state{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:20vw;
    height:20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
    /* background-image: url("devyang8.jpg"); */
    border:2px transparent wheat;
    border-radius: 14px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 550px;
    float: right;
}
#andhra{
    background-size: cover; 
    background-image: url("img/andra\ pradeash.jpg");
}
#arunachal{
    background-size: cover;
    background-image: url("img/Arunachal-Pradesh-4.webp");
}
#assam{
    background-size: cover;
    background-image: url("img/assam.png");
}
#bihar{
    background-size: cover;
    background-image: url("img/bihar-places.jpg");
}
#chatisgarh{
    background-size: cover;
    background-image: url("img/chatt.jpg");
}
#goa{
    background-size: cover;
    background-image: url("img/goa.webp");
}
#gujarat{
    background-size: cover;
    background-image: url("img/gujrat.jpg");
}
#haryana{
    background-size: cover;
    background-image: url("img/haryana.jpg");
}
#himachal{
    background-size: cover;
    background-image: url("img/himachal.jpg");
}
#jharkhand{
    background-size: cover;
    background-image: url("img/jhar.jpg");
}
#karnataka{
    background-size: cover;
    background-image: url("img/karna.jpg");
}
#kerala{
    background-size: cover;
    background-image: url("img/kera.jpg");
}
#mp{
    background-size: cover;
    background-image: url("img/mp.jpg");
}
#maharashtra{
    background-size: cover;
    background-image: url("img/mahar.jpg");
}
#manipur{
    background-size: cover;
    background-image: url("img/mani.jpg");
}
#meghalaya{
    background-size: cover;
    background-image: url("img/megh.jpg");
}
#mizoram{
    background-size: cover;
    background-image: url("img/mizo.jpg");
}
#nagaland{
    background-size: cover;
    background-image: url("img/naga.jpg");
}
#odisha{
    background-size: cover;
    background-image: url("img/odi.jpg");
}
#punjab{
    background-size: cover;
    background-image: url("img/pujb.jpg");
}
#rajasthan{
    background-size: cover;
    background-image: url("img/rajas.webp");
}
#sikkim{
    background-size: cover;
    background-image: url("img/sik.jpg");
}
#tamil{
    background-size: cover;
    background-image: url("img/tamilna.jpg");
}
#telangana{
    background-size: cover;
    background-image: url("img/tel.jpg");
}
#tripura{
    background-size: cover;
    background-image: url("img/trip.jpg");
}
#up{
    background-size: cover;
    background-image: url("img/up.jpg");
}
#uk{
    background-size: cover;
    background-image: url("img/uk.jpg");
}
#wb{
    background-size: cover;
    background-image: url("img/westbengal.jpg");
}